.navbar {
    background-color: #001C34;
    padding: 12px;
}

.navbar .logo {
    color: #2EAC68;
    font-size: 30px;
    font-family: "ubuntu", sans-serif;
}

.navbar .icon {
    color: #2EAC68;
    font-size: 30px;
    margin-left: 10px;
}

.left {
    margin-left: 15px;
    display: inline-block;
}

.right {
    float: right;
    margin-right: 15px;
    display: inline-block;
}

.navbar .select-search {
    display: inline-block;
}

.navbar input {
    height: 26.25px;
}

.navbar ul {
    padding-inline-start: 0 !important;
}