.navbar {
    background-color: #222333;
    width: 100%;
    height: 60px;
}

.nav-logo {
    color: #2EAC68;
    text-decoration: none;
    font-size: 40px;
    font-family: "ubuntu", sans-serif;
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 1ch;
}

.nav-right {
    float: right;
    margin-right: 40px;
}

.nav-link {
    margin: 10px;
}

.nav-icon {
    transition: transform 0.5s;
}

.nav-icon:hover {
    transform: scale(1.2);
}

